{{#d-modal-body title="chat.settings"}}
  <div class="chat-settings-modal">
    {{#conditional-loading-spinner condition=loadingChannels}}
      {{#each channels as |channel|}}
        {{chat-channel-settings-row channel=channel}}
      {{/each}}
    {{/conditional-loading-spinner}}
  </div>
{{/d-modal-body}}
