{{#if chat.sidebarActive}}
  <div class="full-page-chat teams-sidebar-on">
    {{outlet}}
  </div>
{{else}}
  <div class="full-page-chat">
    {{#if (and (not currentUser.experimental_sidebar_enabled) (not site.mobileView))}}
      {{channels-list onSelect=(action "switchChannel")}}
    {{/if}}

    {{outlet}}
  </div>
{{/if}}
