<div class="chat-browse">
  {{#if showChatLink}}
    {{#link-to "chat.index" class="go-to-chat"}}{{i18n "chat.go_to_chat"}}{{/link-to}}
  {{/if}}

  {{#if model.categoryChannels}}
    <div class="category-channels">
      {{#each model.categoryChannels as |channel|}}
        {{chat-channel-settings-row channel=channel categoryChannel=true}}
      {{/each}}
    </div>
  {{/if}}

  {{#if model.topicChannels}}
    <div class="topic-channels">
      {{#each model.topicChannels as |channel|}}
        {{chat-channel-settings-row channel=channel}}
      {{/each}}
    </div>
  {{/if}}
</div>
