{{#if chat.sidebarActive}}
  <div class="full-page-chat teams-sidebar-on">
    {{outlet}}
  </div>
{{else}}
  <div class="full-page-chat">
    {{#unless site.mobileView}}
      {{channels-list onSelect=(action "switchChannel")}}
    {{/unless}}

    {{outlet}}
  </div>
{{/if}}
