.tc-drawer {
  width: 400px;
  max-width: 100vw;
}

.user-card,
.group-card {
  z-index: z("usercard") + 1; // bump up user card
}

.full-page-chat {
  &.teams-sidebar-on {
    grid-template-columns: 1fr;

    .tc-live-pane {
      border-radius: var(--full-page-border-radius);
    }
  }

  .tc-full-page-header {
    padding: 0.5em 1em;
  }

  .tc-live-pane {
    .tc-messages-container {
      .tc-message {
        &.user-info-hidden {
          .tc-meta-data {
            width: var(--large-message-left-width);
            padding-right: 0.3em;
          }
        }
        &.is-reply {
          grid-template-columns: var(--large-message-left-width) 1fr;

          .tc-avatar {
            width: var(--large-message-left-width);
          }
        }
        .tc-avatar {
          width: var(--large-message-left-width);
        }
      }
    }
  }

  .tc-composer {
    margin: 0;

    .tc-composer-message-details {
      padding-left: 1em;
      padding-right: 1.5em;
    }
    .tc-composer-row {
      padding: 0 1em;
    }
  }
}

.tc-message:not(.user-info-hidden) {
  padding: 0.5em 2em 0.15em 2em;
  margin-top: 0.5em;

  .tc-message-container {
    max-width: calc(100% - (#{var(--large-message-left-width)} + 1em));

    .tc-text {
      width: 100%;
    }
  }
}

.tc-message.user-info-hidden {
  padding: 0.15em 1em;

  .tc-message-container {
    width: 100%;

    .tc-text {
      max-width: calc(100% - (#{var(--large-message-left-width)} + 1em));
    }
  }
}

// Full Page Styling
.discourse-sidebar.has-full-page-chat {
  #main-outlet {
    padding: 0;
  }
  .full-page-chat.teams-sidebar-on {
    height: calc(100vh - 75px);
    grid-template-rows: 40px auto;
    .exit-chat-btn {
      grid-column: unset;
      z-index: 999;
      width: min-content;
    }
    .tc-live-pane {
      border-radius: 0;
      // height: 100%;
    }
    .tc-live-pane,
    .tc-messages-scroll,
    .tc-message {
      background: transparent;
    }
    .tc-message {
      padding-left: 2em;
      font-family: "Lato";
      -moz-osx-font-smoothing: grayscale;
    }
    .tc-messages-container .tc-message-deleted {
      padding: 0.25em 2em;
    }
  }
}