.tc-drawer {
  width: 400px;
  max-width: 100vw;
}

.user-card,
.group-card {
  z-index: z("usercard") + 1; // bump up user card
}

.full-page-chat {
  &.teams-sidebar-on {
    grid-template-columns: 1fr;

    .tc-live-pane {
      border-radius: var(--full-page-border-radius);
    }
  }

  .tc-full-page-header {
    padding: 0.5em 1em;
  }

  .tc-live-pane {
    .tc-messages-container {
      .tc-message {
        &.user-info-hidden {
          .tc-meta-data {
            width: var(--large-message-left-width);
            padding-right: 0.3em;
          }
        }
        &.is-reply {
          grid-template-columns: var(--large-message-left-width) 1fr;

          .tc-avatar {
            width: var(--large-message-left-width);
          }
        }
        .tc-avatar {
          width: var(--large-message-left-width);
        }
      }
    }
  }

  .tc-composer {
    margin: 0;

    .tc-composer-message-details {
      padding-left: 1em;
      padding-right: 1.5em;
    }
    .tc-composer-row {
      padding: 0 1em;
      width: calc(100% - 40px + 8px);
      &::after {
        width: calc(100% - 40px + 8px);
      }
    }
  }
}

.tc-message:not(.user-info-hidden) {
  padding: 0.15em 1em;
  margin-top: 0.5em;

  .tc-message-container {
    max-width: calc(100% - (#{var(--large-message-left-width)} + 1em));

    .tc-text {
      width: 100%;
    }
  }
}

.tc-message.user-info-hidden {
  padding: 0.15em 1em;

  .tc-message-container {
    width: 100%;

    .tc-text {
      max-width: calc(100% - (#{var(--large-message-left-width)} + 1em));
    }
  }
}

// Full Page Styling in Core
.has-full-page-chat:not(.discourse-sidebar) {
  #main-outlet {
    padding: 1.5em 0em;
  }
  .full-page-chat {
    border: 1px solid var(--primary-low-mid);
    border-radius: var(--full-page-border-radius);
    overflow: hidden;
    box-shadow: 6px 6px 0px 0px rgba(var(--primary-rgb),0.125);
    .tc-channels {
      background: var(--primary-very-low);
      border-radius: unset;
      .chat-channel-divider {
        padding: 1em 1em 0.5em 1em;
      }
      .loading-container {
        padding-bottom: 1em;
      }
    }
    .tc-live-pane {
      padding: 0 0 1em;
      border-radius: unset;
    }
    .tc-live-pane, .tc-messages-scroll, .tc-message {
      background-color: var(--secondary);
    }
  }
  @media screen and (max-width:1100px) {
    #main-outlet {
      padding: 0;
    }
    .full-page-chat {
      border-radius: 0px;
      border: none;
      box-shadow: none;
      grid-template-rows: calc(var(--full-page-chat-height) + 10px);
    }
  }
}

// Full page styling with sidebar enabled
.discourse-sidebar.has-full-page-chat {
  #main-outlet {
    padding: 2em 0em 0em 0em;
  }
  .full-page-chat.teams-sidebar-on {
    grid-template-rows: 40px auto;
    .tc-live-pane {
      border-radius: 0;
    }
    .tc-live-pane,
    .tc-messages-scroll,
    .tc-message {
      background: transparent;
    }
    .tc-message {
      &.tc-message-selected, &:hover {
        background: var(--primary-low);
      }
      padding-left: 2em;
    }
    .tc-messages-container .tc-message-deleted {
      padding: 0.25em 2em;
    }
  }
}
