{{#if siteSettings.topic_chat_enabled}}
  <h3>{{i18n "chat.title_bare"}}</h3>
    <section class="field">
      <label class="checkbox-label">
        {{input
          type="checkbox"
          checked=(readonly category.custom_fields.has_chat_enabled)
          change=(action "onChangeChatEnabled" value="target.checked")
        }}
        {{i18n "chat.category_chat_enabled"}}
      </label>
    </section>
{{/if}}
