{{#d-modal-body title="chat.channel_archive.title"}}
  <div
    id="chat-channel-archive-modal-inner"
    class="chat-channel-archive-modal-inner"
  >
    <p class="chat-channel-archive-modal-instructions">{{this.instructionsText}}</p>

    {{chat-to-topic-selector
      selection=selection
      topicTitle=topicTitle
      categoryId=categoryId
      tags=tags
      selectedTopicId=selectedTopicId
      instructionLabels=instructionLabels
      allowNewMessage=false
    }}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary"
    disabled=buttonDisabled
    action=(action "archiveChannel")
    label="chat.channel_archive.title"
    id="chat-confirm-archive-channel"
  }}
</div>
