{{#d-modal-body title="chat.channel_selector.title"}}
  <div id="chat-channel-selector-modal-inner">
    {{input id="chat-channel-selector-input" type="text" value=filter onChange=onFilterChange}}
    <div class="channels">
      {{#each filteredChannels as |channel|}}
        {{chat-channel-row channel=channel switchChannel=switchChannel}}
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}
