<div class="chat-draft-channel-screen">
  {{direct-message-creator
    onChangeSelectedUsers=(action "onChangeSelectedUsers")
  }}

  {{#if previewedChannel}}
    {{chat-live-pane
      chatChannel=previewedChannel
      expanded=true
      floatHidden=false
      fullPage=true
      includeHeader=false
      onSwitchChannel=(action "onSwitchFromDraftChannel")
    }}
  {{/if}}
</div>
