<div class="chat-meta-data">
  {{avatar message.user imageSize="tiny"}}
  {{! TODO make computed, respect prioritize name}}
  <span class="chat-user-name">{{message.user.username}}</span>
  <span class="chat-timestamp">{{format-date message.created_at format="tiny"}}</span>
</div>
<div class="chat-message">{{message.message}}</div>
