{{#d-modal-body title=modalTitle}}
  <div
    id="chat-channel-toggle-open-modal-inner"
    class="chat-channel-toggle-open-modal-inner"
  >
    <p>{{html-safe instructions}}</p>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary"
    action=(action "changeChannelStatus")
    label=buttonLabel
    id="chat-confirm-toggle-open-channel"
  }}
</div>
