<div class={{if nested "chat-channel-row nested" "chat-channel-row"}}>
  {{chat-channel-title channel=channel}}
</div>

{{#each channel.chat_channels as |nested_channel|}}
  {{chat-channel-row channel=nested_channel switchChannel=switchChannel nested=true}}
{{/each}}
