{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
    title="chat.cancel_reply"
  }}
{{/if}}
{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "cancelEditing")
    title="chat.reply_edit"
  }}
{{/if}}
<div class="tc-composer-row">
  {{d-textarea
    value=value
    type="text"
    class="tc-composer-input"
    disabled=inputDisabled
    autocorrect="on"
    autocapitalize="off"
    placeholder=placeholder
    rows=1
  }}

  {{#if site.mobileView}}
    {{flat-button
      action=(action "sendClicked")
      class="mobile-send-btn"
      icon="play"
      disabled=sendDisabled
      title=sendTitle
    }}
  {{/if}}
</div>
