{{#if channelStatusMessage}}
  <div class="chat-channel-header-status">
    {{d-icon channelStatusIcon}} {{channelStatusMessage}}
  </div>

  {{#if channel.archive_failed}}
  ARCHIVE FAILED
  {{/if}}
{{/if}}
