<div class="chat-replying-indicator">
  <span class="replying-text">
    {{#if shouldDisplay}}
      <span>{{text}}</span>
      <span class="wave">
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
      </span>
    {{/if}}
  </span>
</div>
