{{#if show}}
  <div class="chat-retention-reminder">
    <span class="chat-retention-reminder-text">{{text}}</span>
    {{d-button
      class="btn-flat dismiss-btn"
      action=(action "dismiss")
      icon="times"
    }}
  </div>
{{/if}}
