<div class={{rowClassNames}}>
  {{chat-channel-title channel=channel unreadCount=unreadCount}}
  {{#if (and unreadCount isDirectMessageRow)}}
    <div class="unread-dm-indicator">
    </div>
  {{else if unreadCount}}
    <span class="unread-chat-messages-indicator"></span>
  {{/if}}
</div>

{{#if channel.chat_channels}}
  <div class="nested-container">
    {{#each channel.chat_channels as |nested_channel|}}
      {{chat-channel-row channel=nested_channel switchChannel=switchChannel nested=true}}
    {{/each}}
  </div>
{{/if}}
