<div class="chat-user-avatar">
  <div role="button" class="chat-user-avatar-container clickable" data-user-card={{user.username}}>
    {{avatar user imageSize=avatarSize}}

    {{#if isOnline}}
      <div class="chat-user-presence-flair"></div>
    {{/if}}
  </div>
</div>
