<div class={{rowClassNames}}>
  {{chat-channel-title channel=channel}}
  {{chat-channel-unread-indicator channel=channel}}

  {{#if isDirectMessageRow}}
    {{d-button
      icon="times"
      action=(action "leaveChatChannel")
      class="btn-flat leave-channel-btn"
      title="chat.direct_messages.leave"
    }}
  {{/if}}
</div>
