{{#if (and channel.archive_failed currentUser.admin)}}
  <div class="alert alert-warn chat-channel-retry-archive">
    <div class="chat-channel-archive-failed-message">
      {{html-safe channelArchiveFailedMessage}}
    </div>
    <div class="chat-channel-archive-failed-retry">
      {{d-button action=(action "retryArchive") label="chat.channel_archive.retry"}}
    </div>
  </div>
{{else if (and channel.archive_completed currentUser.admin)}}
  {{html-safe channelArchiveCompletedMessage}}
{{/if}}
