<div class="tc-meta-data">
  {{avatar message.user imageSize="tiny"}}
  {{! TODO make computed, respect prioritize name}}
  <span class="chat-user-name">{{message.user.username}}</span>
  <span class="chat-timestamp">{{format-chat-date message}}</span>
</div>
<div class="tc-msgbody">{{message.message}}</div>
