<div class="chat-selection-management">
  <div class="chat-selection-management-buttons">
    {{d-button
      id="chat-quote-btn"
      class="btn-secondary"
      icon="quote-left"
      label="chat.selection.quote_selection"
      title="chat.selection.quote_selection"
      disabled=(not anyMessagesSelected)
      action=(action "quoteMessages")
    }}

    {{#if showMoveMessageButton}}
      {{d-button
        id="chat-move-to-channel-btn"
        class="btn-secondary"
        icon="sign-out-alt"
        label="chat.selection.move_selection_to_channel"
        title="chat.selection.move_selection_to_channel"
        disabled=(not anyMessagesSelected)
        action=(action "openMoveMessageModal")
      }}
    {{/if}}

    {{d-button
      icon="times"
      class="btn-secondary cancel-btn"
      label="chat.selection.cancel"
      title="chat.selection.cancel"
      action=cancelSelecting
    }}
  </div>

  {{#if showChatQuoteSuccess}}
    <div class="chat-selection-message alert alert-success">
      {{i18n "chat.quote.copy_success"}}
    </div>
  {{/if}}
</div>
