<div class={{wrapperClassNames}}>
  {{d-button
    action=(action "exitChat")
    class="btn-flat exit-chat-btn"
    icon="arrow-left"
    label="chat.exit"
    title="chat.exit"
  }}
  {{#if showChannelSelector}}
    {{channel-list
      publicChannels=publicChannels
      directMessageChannels=directMessageChannels
      onSelect=(action "switchChannel")
    }}
  {{/if}}
  {{chat-live-pane
    chatChannel=chatChannel
    expanded=true
    floatHidden=false
    fullPage=true
    onBackClick=(action (mut showingChannels) true)
  }}
</div>
