<div class={{wrapperClassNames}}>
  {{#if showChannelSelector}}
    {{channels-list onSelect=(action "switchChannel")}}
  {{/if}}

  {{#if chat.activeChannel}}
    {{compute-full-page-height pageSelector=".chat-live-pane"}}

    {{chat-live-pane
      chatChannel=chat.activeChannel
      expanded=true
      floatHidden=false
      fullPage=true
      onBackClick=(action "navigateToIndex")
      onSwitchChannel=(action "switchChannel")
    }}
  {{/if}}
</div>
