<div class={{wrapperClassNames}}>
  {{#if showChannelSelector}}
    {{channels-list onSelect=(action "switchChannel")}}
  {{/if}}

  {{chat-live-pane
    chatChannel=chatChannel
    expanded=true
    floatHidden=false
    fullPage=true
    onBackClick=(action "navigateToIndex")
    onSwitchChannel=(action "switchChannel")
  }}
</div>
