@mixin chat-scrollbar {
  scrollbar-color: var(--primary-low) transparent;
  transition: scrollbar-color 0.2s ease-in-out;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-low);
    border-radius: 8px;
    border: 3px solid var(--secondary);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &:hover {
    scrollbar-color: var(--primary-low-mid) transparent;
    &::-webkit-scrollbar-thumb {
      background: var(--primary-low-mid);
    }
  }
}
