.chat-message:not(.user-info-hidden) {
  padding: 0.75em 1em 0.1em;
}

.chat-message.user-info-hidden {
  padding: 0.1em 1em;
}

body.has-full-page-chat {
  .footer-nav {
    display: none !important;
  }

  #main-outlet {
    padding: 0;
  }
}

.chat-channel-settings-modal .modal-inner-container {
  max-width: 90vw;
  .chat-channel-settings-row {
    max-width: 100%;

    .chat-channel-preview {
      display: none;
    }
    .chat-channel-title {
      max-width: 80%;
    }
    .controls.save-container {
      justify-content: end;
    }
  }
}

.full-page-chat {
  grid-template-columns: 100%;
  overflow-x: hidden;
  width: 100%;

  .chat-live-pane {
    border-radius: 0;
  }

  .chat-drawer {
    width: 100%;
  }

  .chat-live-pane {
    padding: 0;
  }

  .chat-full-page-header {
    background-color: var(--secondary);
  }

  .chat-full-page-header {
    padding: 0.5em 0.5em 0.5em 0em;
    font-weight: bold;
  }
}

.channels-list .chat-channel-row {
  padding: 0 0.5em 0 0.25em;

  .category-chat-private .d-icon {
    background-color: var(--secondary);
  }

  .chat-channel-unread-indicator {
    width: 6px;
    height: 6px;
    left: 5px;
    top: calc(50% - 3px);
  }
}

.sidebar-container .channels-list .chat-channel-divider {
  padding-left: 1em;
}

.channels-list .chat-channel-divider {
  padding: 0.25em 0.5em 0.25em;
}

.sidebar-container .channels-list .chat-channel-row {
  padding: 0.5em;
}

.create-channel-modal {
  .modal-inner-container {
    width: 95%;
  }
}

.chat-browse {
  .chat-channel-settings-row {
    font-size: var(--font-down-1);
    .chat-channel-title {
      grid-template-columns: 15px 1fr;
    }
  }
}

.chat-full-page-header {
  .chat-channel-header-details {
    .chat-channel-retry-archive {
      flex-direction: column;

      .chat-channel-archive-failed-retry {
        margin-top: 0.5em;
      }
    }
  }
}

html.full-page-chat {
  height: 100vh;
  height: calc(var(--chat-composer-vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;

  body {
    height: 100vh;
    height: calc(var(--chat-composer-vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;

    #main,
    .discourse-root,
    #main-outlet-wrapper,
    #main-outlet,
    .full-page-chat,
    .chat-live-pane,
    #main-chat-outlet {
      height: 100%;
      margin: 0 auto;
      min-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .chat-live-pane {
      min-height: 1px;
    }

    #main-outlet-wrapper {
      height: calc(100% - var(--header-offset, 0));
      min-height: auto;
      padding: 0;
    }
  }
}
