body {
  &.footer-nav-visible .topic-chat-float-container {
    bottom: calc(var(--footer-nav-height) + 1em);
  }

  .topic-chat-float-container .tc-composer {
    padding-bottom: 1em;
  }

  .topic-chat-container.expanded::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
