.chat-live-pane .chat-composer .chat-composer-row {
  .chat-composer-input {
    padding-right: 40px;
  }

  .mobile-send-btn {
    position: absolute;
    padding: 10px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    .d-icon {
      color: var(--primary-low-mid);
    }
    &:not([disabled]) .d-icon {
      color: var(--tertiary);
    }
  }
}

.chat-composer-uploads-container {
  padding: 0.25em 0.75em;
}

.chat-message:not(.user-info-hidden) {
  padding: 0.75em 1em 0.1em;
}

.chat-message.user-info-hidden {
  padding: 0.1em 1em;
}

body.has-full-page-chat {
  .footer-nav {
    display: none !important;
  }

  #main-outlet {
    padding: 0;
  }
}

.chat-channel-settings-modal .modal-inner-container {
  max-width: 90vw;
  .chat-channel-settings-row {
    max-width: 100%;
    .chat-channel-expand-settings {
      .d-icon {
        margin-right: 0;
      }
      .d-button-label {
        display: none;
      }
    }
    .chat-channel-preview {
      display: none;
    }
    .chat-channel-title {
      max-width: 80%;
    }
    .controls.save-container {
      justify-content: end;
    }
  }
}

.full-page-chat {
  grid-template-columns: 100%;
  overflow-x: hidden;
  width: 100%;

  .chat-live-pane {
    border-radius: 0;
  }

  .chat-drawer {
    width: 100%;
  }

  .chat-live-pane {
    padding: 0;
  }

  .chat-full-page-header {
    background-color: var(--secondary);
  }

  .chat-composer {
    background-color: var(--secondary);
  }

  .chat-full-page-header {
    padding: 0.5em 0.5em 0.5em 0em;
    font-weight: bold;
  }
}

.chat-channels .chat-channel-row {
  padding: 0 0.5em 0 0.25em;

  .category-chat-private .d-icon {
    background-color: var(--secondary);
  }

  .chat-channel-unread-indicator {
    width: 6px;
    height: 6px;
    left: 5px;
    top: calc(50% - 3px);
  }
}

.sidebar-container .chat-channels .chat-channel-divider {
  padding-left: 1em;
}

.chat-channels .chat-channel-divider {
  padding: 0.25em 0.5em 0.25em;
}

.sidebar-container .chat-channels .chat-channel-row {
  padding: 0.5em;
}

.create-channel-modal-modal {
  .modal-inner-container {
    width: 95%;
  }
}

.chat-browse {
  .chat-channel-settings-row {
    font-size: var(--font-down-1);
    .chat-channel-title {
      grid-template-columns: 15px 1fr;
    }
  }
}

.chat-full-page-header {
  .chat-channel-header-details {
    flex-flow: row wrap;
    flex-direction: row;

    .chat-channel-status {
      flex-basis: 100%;
      flex-grow: 0;
      margin: 0 0 0 10px;
    }

    .chat-channel-retry-archive {
      flex-direction: column;

      .chat-channel-archive-failed-retry {
        margin-top: 0.5em;
      }
    }
  }
}
