.chat-message-left-gutter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: var(--message-left-width);
}

.chat-message-left-gutter__date {
  color: var(--primary-high);
  font-size: var(--font-down-1);

  &:hover,
  &:focus {
    .chat-time {
      color: var(--primary);
    }
  }
}

.chat-message-left-gutter__flag {
  color: var(--secondary-medium);
  padding-left: calc(50% - 15px);
}
