.chat-selection-management {
  @keyframes chat-quote-message-background-fade-highlight {
    0% {
      background-color: var(--success-low);
      color: black;
    }
    100% {
      background-color: transparent;
      color: transparent;
    }
  }

  padding: 0.5em;
  border-top: 1px solid var(--primary-low);
  display: flex;

  .chat-selection-message {
    padding: 0.5em 0.65em;
    margin: 0 1em;
    flex: 1;
    line-height: normal;

    animation: chat-quote-message-background-fade-highlight 2.5s ease-out 3s;
  }

  .chat-selection-management-buttons {
    .cancel-btn {
      margin-left: 1em;
    }
  }
}

.topic-chat-drawer-content {
  .chat-selection-management {
    .chat-selection-management-buttons {
      display: flex;
      flex-direction: column;
      width: 100%;

      .cancel-btn {
        margin-left: initial;
      }

      .btn {
        margin-bottom: 0.25em;
      }
    }
  }
}
