.chat-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 1px;
}

.chat-tabs__tabpanel {
  height: 100%;
  min-height: 1px;
}

.chat-tabs-list {
  display: flex;
  list-style: none;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid var(--primary-low);
  box-sizing: border-box;
}

.chat-tabs-list__link,
.chat-tabs-list__link:visited {
  color: var(--primary-medium);
  padding: 1rem;
  display: flex;
  outline-offset: -1px;

  &.active {
    color: var(--tertiary);
    border-bottom: 4px solid var(--tertiary);
  }
  &:hover {
    color: var(--tertiary-hover);
  }
}
