.chat-composer {
  display: flex;
  flex-direction: column;
  min-height: 1.5em;

  #chat-full-page-uploader,
  #chat-widget-uploader {
    display: none;
  }

  .drop-a-file {
    display: none;
  }

  .chat-composer-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    border: 1px solid var(--primary-low-mid);
    border-radius: 6px;
    padding: 0.25rem;
  }

  .send-btn {
    padding: 0.4rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 6px;

    &:disabled {
      cursor: not-allowed;
      .d-icon {
        color: var(--primary-low);
      }
    }

    .d-icon {
      color: var(--tertiary);
    }

    &:not(:disabled) {
      &:hover,
      &:focus {
        background: var(--tertiary);
        .d-icon {
          color: var(--secondary);
        }
      }
    }
  }

  .chat-composer-input {
    margin: 0;
    width: 100%;
    appearance: none;
    outline: none;
    border: 0;
    resize: none;
    max-height: 125px;
    scrollbar-color: var(--primary-low-mid) transparent;
    transition: scrollbar-color 0.2s ease-in-out;
    background: none;
    margin: 0;
    padding: 0.25rem 0.5rem;
    text-overflow: ellipsis;

    &:placeholder-shown,
    &::placeholder {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 1.25em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-low-mid);
      border-radius: 6px;
      border: 3px solid var(--secondary);
    }
    &:hover {
      scrollbar-color: var(--primary-low-mid) transparent;
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-low-mid);
      }
    }
    &::-webkit-scrollbar {
      width: 12px;
    }
  }

  .chat-composer-message-details {
    padding: 0.25rem;
    border-top: 1px solid var(--primary-low);
    display: flex;
    align-items: center;

    .tc-reply-display {
      width: 100%;
    }

    .tc-reply-username {
      font-weight: bold;
    }

    .cancel-message-action {
    }
  }
}

// .chat-composer {

//
//   .tc-reply-username {
//     font-weight: bold;
//   }
//
//   }
//
//   .chat-composer-row > .chat-composer-input:disabled {
//     background-color: var(--primary-low);
//     border: 1px solid var(--primary-low-mid);
//   }
//

//   .d-icon {
//     animation: color 0.2s ease-in-out;
//     color: var(--primary-low);
//   }
// }
//
