$header-height: 2.5rem;
$float-height: 530px;

:root {
  --message-left-width: 38px;
  --full-page-border-radius: 12px;
  --full-page-sidebar-width: 275px;
}

.tc-composer {
  #chat-full-page-uploader,
  #chat-widget-uploader {
    display: none;
  }
}

.chat-unread-urgent-indicator,
.chat-unread-indicator {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  box-sizing: content-box;
  border: 2px solid var(--secondary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chat-unread-indicator {
  background: var(--tertiary-med-or-tertiary);
}
.chat-unread-urgent-indicator {
  background: var(--success);
  color: var(--secondary);
  font-size: var(--font-down-2);

  .chat-unread-urgent-indicator-number-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    .chat-unread-urgent-indicator-number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.header-dropdown-toggle.open-chat {
  .icon {
    &.active {
      .d-icon-comment {
        color: var(--primary-medium);
      }
    }

    &:hover {
      .chat-unread-indicator {
        border-color: var(--primary-low);
      }
    }
    .chat-unread-urgent-indicator,
    .chat-unread-indicator {
      border-color: var(--header_background);
      position: absolute;
      right: 2px;
      bottom: 2px;
      transition: border-color linear 0.15s;
    }
  }
}

.has-sidebar {
  .header-dropdown-toggle.open-chat {
    .chat-unread-indicator {
      border-color: var(--primary-very-low);
    }
  }
}

body.composer-open .topic-chat-float-container {
  bottom: 11px; // prevent height of grippie from obscuring ...is typing indicator
}

.topic-chat-float-container {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  // higher than timeline, lower than composer, lower than user card (bump up below)
  z-index: z("usercard");
  position: fixed;
  right: var(--composer-right, 20px);
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none !important;
  bottom: 0;

  > * {
    pointer-events: auto;
  }

  .no-channel-title {
    font-weight: bold;
  }

  &.composer-draft-collapsed {
    bottom: 40px;
  }

  box-sizing: border-box;
  max-height: 90vh;
  padding-bottom: var(--composer-height, 0);
  transition: all 100ms ease-in;
  transition-property: bottom, padding-bottom;

  .tc-channels {
    .chat-channel-row {
      padding: 0 0.5rem 0 1rem;
    }

    .chat-unread-urgent-indicator,
    .chat-unread-indicator {
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 7px;
      top: calc(50% - 5px);
    }
  }
}
.tc-drawer {
  align-self: flex-end;
}

.topic-chat-container {
  background: var(--secondary);
  border: 1px solid var(--primary-low-mid);
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 2.5em;

  &.expanded {
    max-height: $float-height;
    height: calc(85vh - var(--composer-height, 0px));

    .tc-live-pane,
    .tc-chat-listing {
      max-height: calc(#{$float-height} - #{$header-height});
      height: calc(85vh - var(--composer-height, 0px) - #{$header-height});
    }
  }
}

.topic-chat-drawer-header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--primary-low-mid);
  padding: 0.5em;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    height: 100%;
  }

  .chat-channel-title {
    width: calc(95% - 0.5em);
    margin-right: 0.5em;
    .chat-name,
    .topic-chat-name,
    .category-chat-name {
      color: var(--primary);
    }
    .badge-wrapper.bullet {
      margin-right: 0px;
    }
    .dm-usernames {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .d-icon:not(.d-icon-hashtag) {
      color: var(--primary-high);
    }
    .category-hashtag {
      padding: 2px 4px;
    }
  }
  .tc-unread-count {
    display: inline-block;
    color: var(--secondary, $secondary);
    background-color: var(--tertiary-med-or-tertiary, $danger);
    font-size: var(--font-down-2);
    border-radius: 100%;
    min-width: 1.4em;
    min-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    padding: 1px;
    text-align: center;
  }
  .tc-full-screen-btn {
    margin-left: auto;
  }
  .tc-full-screen-btn,
  .tc-expand {
    &:focus {
      outline: none;
      background: none;

      .d-icon {
        background: none;
        color: var(--primary-low-mid);
      }
    }
    &:hover {
      .d-icon {
        color: var(--primary-high);
      }
    }
  }
  .d-icon {
    align-self: center;
    height: 1.1em;
    &:hover {
      color: var(--primary-high);
    }
  }
}

.topic-chat-drawer-content {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 0.25em;

  .tc-channels .chat-channel-divider {
    padding: 0.25rem 0.5rem;
  }
}

.btn.exit-chat-btn {
  background: transparent;
  color: var(--primary-medium);
  font-size: var(--font-0-rem);
  padding: 0.6rem;
  &:hover {
    background: transparent;
  }
}

.tc-channels {
  overflow-y: auto;
  height: 100%;
  position: relative;

  .chat-unread-urgent-indicator,
  .chat-unread-indicator {
    width: 10px;
    height: 10px;
    margin-left: 0.5em;
    border-radius: 10px;
    border: 0;
    right: 7px;
    top: calc(50% - 5px);
    .chat-unread-urgent-indicator-number-wrap {
      display: none;
    }
  }

  .edit-channel-membership-btn,
  .new-dm,
  .leave-channel-btn {
    background: transparent;
    color: var(--primary-medium);
    font-size: var(--font-0-rem);
    padding: 0.6rem;

    &:hover {
      background: transparent;
    }

    .d-icon {
      color: var(--primary-medium);
    }
  }

  .public-channel-empty-message {
    margin: 0 0.5em 0.5em 0.5em;
  }

  .chat-channel-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.25rem 0.5rem 0.25rem 2rem;
    font-family: var(--heading-font-family);
    font-size: var(--font-down-1-rem);

    .channel-title {
      text-transform: uppercase;
    }
  }

  .dm-creation-row .dm-user-chooser {
    width: calc(100% - 75px);
  }

  .edit-channels-dropdown {
    .select-kit-header {
      background: none;
      font-size: var(--font-0-rem);
      padding: 0.6rem;

      .d-icon {
        color: var(--primary-medium);
        margin: 0;
      }

      &:focus .d-icon,
      &:hover .d-icon {
        color: var(--primary);
      }
    }
  }
  .edit-channel-membership-btn {
    &:hover {
      background: none;
    }
  }
}

.dm-creation-row {
  display: flex;
  align-items: center;
  margin: 0 0.5em;
  justify-content: space-between;
  max-width: 400px;

  .dm-user-chooser {
    width: calc(100% - 90px);
  }
}

.tc-avatar-container {
  position: relative;

  .avatar {
    width: 100%;
    height: auto;
  }

  .tc-presence-flair {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: -2px;
    bottom: -2px;
    background-color: var(--success);
    width: 8px;
    height: 8px;
    border: 1px solid var(--secondary);
    border-radius: 50%;

    .tc-messages-container & {
      right: -1px;
      bottom: -1px;
      width: 10px;
      height: 10px;
    }

    &.online {
      display: block;
    }
  }
}

.chat-message {
  position: relative;
  display: grid;

  &.selecting-messages {
    grid-template-columns: 1.5em 1fr;
  }

  .chat-message-selector {
    align-self: center;
    justify-self: end;
    margin: 0;
  }
}

.tc-messages-container {
  word-wrap: break-word;
  white-space: normal;

  .tc-time {
    color: var(--primary-high);
    font-size: var(--font-down-2);
  }

  .emoji-picker {
    position: fixed;
  }

  &:hover {
    .chat-.chat-message-react-btn {
      display: inline-block;
    }
  }
}

.tc-reply-display {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-down-1);
  padding-left: 0.5em;

  .tc-reply-av {
    padding: 0 0.5em;
  }

  .tc-reply-username {
    padding: 0 0.5em 0 0;
  }

  .tc-reply-msg {
    align-self: baseline;
    color: var(--primary-high);
    > * {
      margin-top: 0;
      display: inline-block;
    }
    > p {
      margin-top: 0.35em;
    }
  }
}

.tc-live-pane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow: hidden;

  .tc-messages-scroll {
    margin-bottom: 0.5em;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-color: var(--primary-low) transparent;
    transition: scrollbar-color 0.2s ease-in-out;
    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--primary-low);
      border-radius: 8px;
      border: 3px solid var(--secondary);
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &:hover {
      scrollbar-color: var(--primary-low-mid) transparent;
      &::-webkit-scrollbar-thumb {
        background: var(--primary-low-mid);
      }
    }

    .all-loaded-message {
      text-align: center;
      color: var(--primary-medium);
      font-size: var(--font-down-1);
      padding: 0.5em 0.25em 0.25em;
    }
  }

  .scroll-stick-wrap {
    position: relative;
  }

  .chat-scroll-to-bottom {
    background: var(--primary-medium);
    bottom: 1em;
    border-radius: 100%;
    left: 50%;
    opacity: 20%;
    padding: 0.5em;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;

    &:hover {
      opacity: 75%;
    }

    .d-icon {
      color: var(--primary);
      margin: 0;
    }
  }

  .tc-composer {
    min-height: 1.5em;
    flex-shrink: 0;
    width: 100%;

    .tc-reply-username {
      font-weight: bold;
    }

    .tc-composer-row {
      position: relative;
      padding: 0 0.5em;
      display: grid;

      &::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
        outline: none;
      }

      .open-toolbar-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.4em;
        border-radius: 100%;
        background: var(--primary-low);
      }
    }

    .tc-composer-row > .tc-composer-input:focus {
      border-color: var(--primary-medium);
      outline: none;
    }

    .tc-composer-row > .tc-composer-input,
    .tc-composer-row::after {
      // `after` pseudo-element should match input styling exactly
      // via https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
      grid-area: 1 / 1 / 2 / 2;
      margin: 0;
      resize: none;
      max-height: 125px;
      padding: 8px 40px 8px 8px;
      border: 1px solid var(--primary-low-mid);
      box-sizing: border-box;
      word-break: break-word;
      width: 100%;
    }

    .tc-composer-message-details {
      position: relative;
      max-height: calc(2em - 5px);
      padding: 6px 0.75em;
      border-top: 1px solid var(--primary-low);

      .tc-reply-display {
        width: calc(100% - 2em);
      }
    }
    .cancel-message-action {
      position: absolute;
      top: 6px;
      right: 5px;
      padding: 4px;
    }

    .d-icon {
      animation: color 0.2s ease-in-out;
      color: var(--primary-low-mid);
    }
  }

  .chat-composer-toolbar {
    position: absolute;
    top: -36px;
    right: 0.75em;
    border-radius: 5px;
    border: 1px solid var(--primary-low);
    background: var(--secondary);

    .btn-flat {
      padding: 0.5em;

      .d-icon {
        font-size: var(--font-0);
        color: var(--primary-medium);
      }
    }
  }

  .tc-replying-indicator {
    color: var(--primary-medium);
    padding: 0.25em 0.75em;

    .replying-text {
      font-size: var(--font-down-2);

      &:before {
        // unicode zero width space character
        // Ensures the span height is consistent even when empty
        content: "\200b";
      }
    }

    .wave {
      flex: 0 0 auto;

      .dot {
        display: inline-block;
        animation: tc-reply-wave 1.8s linear infinite;
        &:nth-child(2) {
          animation-delay: -1.6s;
        }
        &:nth-child(3) {
          animation-delay: -1.4s;
        }
      }

      @keyframes tc-reply-wave {
        0%,
        60%,
        100% {
          transform: initial;
        }
        30% {
          transform: translateY(-0.2em);
        }
      }
    }
  }

  .chat-selection-management-buttons {
    padding: 0.5em;
    border-top: 1px solid var(--primary-low);

    .cancel-btn {
      margin-left: 0.5em;
    }
  }
}

.topic-title-chat-icon {
  display: inline-block;
  * {
    display: inline-block;
  }
}

.topic-title-chat-link {
  padding: 0 0.1em;
  cursor: pointer;
}

.d-header {
  .topic-title-chat-link {
    padding: 0 0.2em 0 0.25em;
  }
}

.chat-channel-row {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  position: relative;
  cursor: pointer;
  color: var(--primary-high);

  .leave-channel-btn {
    margin-left: auto;
    visibility: hidden;
  }

  &:hover {
    .leave-channel-btn {
      visibility: visible;
    }
  }

  &:hover,
  &.active {
    background: var(--primary-low);

    .topic-chat-badge .topic-chat-icon {
      .d-icon {
        background-color: var(--primary-low);
      }
    }

    .chat-unread-urgent-indicator,
    .chat-unread-indicator {
      border-color: var(--primary-low);
    }

    .chat-channel-title {
      &,
      .category-chat-name,
      .dm-usernames {
        color: var(--primary);
      }

      .d-icon-lock {
        background-color: var(--primary-low);
      }
    }
  }

  &.muted {
    opacity: 0.65;
  }
  .badge-wrapper {
    align-items: center;
    margin-right: 0;
  }

  .chat-unread-indicator {
    background: var(--tertiary-med-or-tertiary);
  }

  .chat-channel-row-unread-count {
    display: inline-block;
    margin-left: 5px;
    font-size: var(--font-down-1);
    color: $primary-high;
  }
}

.chat-channel-title {
  position: relative;
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-column-gap: 0.75em;
  align-items: center;
  font-weight: 500;
  max-width: calc(100% - 10px - 0.75em);
  cursor: pointer;
  margin: 0.6rem 0;

  .category-chat-private .d-icon {
    background-color: var(--secondary);
    position: absolute;
    border-radius: 5px;
    padding: 2px 2px 3px;
    color: var(--primary-high);
    height: 0.5em;
    width: 0.5em;
    left: calc(0.6125em + 3px);
    top: -4px;
  }

  .chat-name,
  .category-chat-name,
  .topic-chat-name,
  .tag-chat-name,
  .dm-usernames {
    @include ellipsis;
    color: var(--primary-high);
    font-size: var(--font-0);
    margin: 0;

    .emoji {
      height: 1.2em;
      vertical-align: text-bottom;
      width: 1.2em;
    }
  }

  .d-icon-lock {
    margin-right: 0.25em;
  }

  .badge-category {
    font-size: var(--font-up-1);
  }

  .topic-chat-icon {
    color: var(--primary-medium);
    width: 100%;
    display: flex;
  }

  .tc-avatar {
    display: flex;
  }

  .tc-avatar-container {
    align-items: flex-start;
    display: inline-flex;
    width: 100%;
    height: auto;
  }

  .dm-multi-count {
    display: inline-block;
    border-radius: 3px;
    background: rgba(var(--primary-rgb), 0.1);
    text-align: center;
    font-weight: bold;
    font-size: var(--font-down-1);
    margin-right: 0.5em;
    line-height: 20px;
    width: 100%;
  }
}

// Styles to make channel list in sidebar match sidebar theme
.sidebar-container {
  .tc-channels {
    color: var(--primary);
    font-size: var(--font-down-1);
    padding-bottom: 2em;
    width: 100%;
    overflow-x: hidden;

    .chat-channel-divider {
      padding: 0 1.75rem;

      &:hover {
        .title-caret {
          opacity: 1;
        }
      }
    }

    .chat-channels-container {
      margin-bottom: 1rem;
    }

    .public-channel-empty-message {
      margin: 0;
      padding: 0em 2em 0.5em;
    }

    .category-chat-private {
      .d-icon {
        background-color: var(--primary-very-low);
      }
    }

    .new-dm,
    .edit-channel-membership-btn,
    .edit-channels-dropdown .select-kit-header,
    .leave-channel-btn {
      display: flex;
      padding: 0.25em;
      border-radius: 0.25em;

      &:hover {
        background-color: var(--tertiary-low);
      }
      .d-icon {
        color: var(--primary-medium);
        font-size: var(--font-down-1);
        padding: 0.25em;
      }
    }

    .leave-channel-btn:hover {
      background-color: var(--tertiary-medium);
    }

    .chat-channel-row {
      &:hover {
        background-color: var(--tertiary-low);
      }
      .chat-channel-title {
        font-weight: unset;
        margin: 0;
      }
    }

    .public-channels .chat-channel-row {
      padding: 0.5rem 1.8rem;
    }
    .direct-message-channels .chat-channel-row {
      padding: 0.3rem 1.8rem;
    }
  }
}

.chat-composer-uploads-container {
  display: flex;
  padding: 0.5em 0.5em 0 0.5em;
  white-space: nowrap;
  overflow-x: auto;

  .chat-upload {
    display: inline-flex;
    height: 50px;
    padding: 0.5em 0.75em;
    border: 1px solid var(--primary-low);
    border-radius: 6px;
    margin-right: 0.5em;

    .preview {
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1em 0 0;
      border-radius: 8px;

      .d-icon {
        font-size: 3.2rem;
      }

      .preview-img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.5em;
      font-size: var(--font-down-1);
      color: var(--primary-high);

      .top-data,
      .bottom-data {
        display: flex;
        align-items: center;
      }

      .file-name {
        display: inline-block;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 0.5em;
      }

      .uploading {
        font-size: var(--font-down-2);
        margin-right: 0.75em;
      }

      .upload-progress {
        width: 110px;
      }

      .extension-pill {
        background: var(--primary-low);
        border-radius: 5px;
        font-size: var(--font-down-2-rem);
        padding: 0.1em 0.4em;
      }
    }
  }
}

.chat-browse {
  .category-chat-name,
  .topic-chat-name {
    color: var(--primary);
    font-size: var(--font-up-1);
  }
  .category-channels {
    .btn-container {
      align-self: end;
      .btn {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
  .topic-channels {
    margin-top: 1em;
  }
}

.category-channels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }
  .category-chat-channel {
    padding: 1em;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    background: var(--secondary);
    border: 2px solid var(--primary-low);
    border-left: transparent;
    .chat-channel-row-controls {
      right: unset;
      top: calc(100% - 10px);
    }
  }
}

.chat-channel-settings-row {
  display: grid;
  grid-template-columns: 1fr 210px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--primary-very-low);
  position: relative;

  .btn-container {
    display: flex;
    align-content: center;

    .btn {
      margin-left: 0.5em;
    }
  }

  .channel-title-container {
    .edit-btn {
      color: var(--primary-medium);
      margin-left: 0.25em;
    }
    .chat-channel-title {
      display: inline-grid;
      max-width: calc(100% - 40px);
      color: var(--primary-very-high);
    }
  }
  .channel-name-edit-container {
    display: flex;
    align-items: center;

    .name-input {
      margin: 0;
    }

    .save-btn,
    .cancel-btn {
      margin-left: 0.25em;
    }
  }

  .chat-channel-row-controls {
    width: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    background: var(--secondary);
    z-index: z("usercard");
    top: 59px;
    border: 1px solid var(--primary-low);
    border-radius: 0.25em;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
    right: 1.5em;

    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0.5em;

      label {
        margin-right: 1em;
        width: 170px;
      }
    }

    .save-container {
      .btn {
        display: inline-block;
      }

      .notification-settings-saved {
        margin-left: 0.5em;
        color: var(--success);
      }
    }
  }
}

.full-page-chat {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: var(--full-page-sidebar-width) 1fr;
  grid-template-rows: var(--full-page-chat-height);

  .tc-channels {
    background: var(--primary-very-low);
    height: 100%;
    border-right: 1px solid var(--primary-low);

    .chat-channel-row {
      padding: 0 0.5rem 0 1.5rem;

      .category-chat-private .d-icon {
        background-color: var(--primary-very-low);
      }

      &:hover,
      &.active {
        .category-chat-private .d-icon {
          background-color: var(--primary-low);
        }
      }
    }
  }

  .tc-full-page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-low);

    .exit-chat-btn {
      margin-left: auto;
      color: var(--primary-high);
    }

    .chat-channel-title {
      .category-chat-name,
      .topic-chat-name,
      .tag-chat-name,
      .chat-name {
        color: var(--primary);
        display: inline;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.previewing {
      .chat-channel-title {
        max-width: calc(100% - 200px);
      }
      .join-channel-btn {
        margin-left: auto;
        width: 110px;
      }
      .exit-chat-btn {
        margin-left: 0.25em;
      }
    }
  }
  .tc-live-pane,
  .tc-messages-scroll,
  .tc-live-pane {
    box-sizing: border-box;
    height: 100%;
    border-radius: 0 var(--full-page-border-radius)
      var(--full-page-border-radius) 0;
  }
}

.tc-full-page-header {
  .chat-channel-title {
    max-width: 100%;
    .dm-usernames {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.tc-channels {
  .tag-chat-badge,
  .category-chat-badge,
  .topic-chat-badge {
    color: var(--primary-low-mid);
    display: flex;
    align-items: center;

    .d-icon {
      height: 1.125em;
      width: 1.125em;
      margin: 0 auto;
    }
  }

  .topic-chat-badge {
    .d-icon {
      z-index: 1;
    }
  }

  .category-chat-private .d-icon {
    background-color: var(--secondary);
    position: absolute;
    border-radius: 5px;
    padding: 3px 2px;
    color: var(--primary-high);
    height: 0.5em;
    width: 0.5em;
    left: calc(0.6125em + 6px);
    top: -4px;
  }
}

.move-chat-to-topic-modal {
  .move-chat-to-topic-inner {
    width: 500px;
    height: 300px;
  }
  .radios {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    .radio-label {
      margin-right: 10px;
    }
  }

  details {
    margin-bottom: 9px;
  }

  input[type="text"],
  .select-kit.combo-box.category-chooser {
    width: 100%;
  }
}

.topic-meta-data .post-chat-link {
  margin: 0 0.75em 0 auto;
  color: var(--tertiary);

  .d-icon {
    margin-right: 0.25em;
    color: var(--tertiary);
  }
}

.user-preferences .chat-setting .controls {
  margin-bottom: 0;
}

.create-channel-modal-modal {
  // I know `-modal-modal`.. but I like the JS file name
  .modal-inner-container {
    width: 500px;
  }
  .choose-topic-results-list {
    max-height: 200px;
    overflow-y: scroll;
  }
  .select-kit.combo-box,
  .create-channel-name-input,
  .create-channel-description-input,
  #choose-topic-title {
    width: 100%;
    margin-bottom: 0;
  }
  .category-chooser {
    .select-kit-selected-name.selected-name.choice {
      color: var(
        --primary-high
      ); // Make consistent with color of placeholder text when choosing topic
    }
  }

  .create-channel-hint {
    font-size: 0.8em;
    margin-top: 0.2em;
  }

  .create-channel-label,
  label[for="choose-topic-title"] {
    margin: 1em 0 0.35em;
  }
  .chat-channel-title {
    margin: 1em 0 0 0;
    grid-column-gap: 0.25em;
  }
}

.small-action {
  .open-chat {
    text-transform: uppercase;
    font-weight: 700;
    font-size-adjust: var(--font-down-0);
  }
}

.tc-message-collapsible {
  .tc-message-collapsible-header {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      height: unset;
    }
  }

  .tc-message-collapsible-filename {
    font-size: 0.75em;
  }

  .tc-message-collapsible-button {
    background: none;
    padding: unset;
    margin-left: 0.5em;

    &:hover {
      background: none;

      .d-icon {
        color: var(--primary);
      }
    }
  }

  .tc-uploads {
    .chat-img-upload,
    .chat-other-upload {
      margin-bottom: 1em;
    }
  }
}

.tc-message-collapsible,
.tc-text {
  > p {
    margin: 0.5em 0 0.5em;
  }

  > p:first-of-type {
    margin-top: 0.1em;
  }

  > p:last-of-type {
    margin-bottom: 0.1em;
  }
}
