$header-height: 2.5rem;

.topic-chat-float-container {
  z-index: 220; // higher than timeline, lower than composer
  position: fixed;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none !important;
  > * {
    pointer-events: auto;
  }
  bottom: 0;
  &.composer-draft-collapsed {
    bottom: 40px;
  }

  box-sizing: border-box;
  max-height: 90vh;
  padding-bottom: var(--composer-height, 0px);
  transition: padding-bottom 250ms ease;
}
.tc-drawer {
  align-self: flex-end;
}
:root:not(.mobile-view) {
  .tc-drawer {
    width: 400px;
    margin-right: 20px;
    max-width: calc(100vw - 20px);
  }
}
:root.mobile-view {
  .tc-drawer {
    width: 100vw;
    margin-right: 0px;
  }
  #main {
    padding-bottom: $header-height;
  }
}

.topic-chat-container {
  background: var(--secondary, $secondary);
  border: solid 1px;
  border-color: var(--primary, $primary);
  border-bottom: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 2.5em;
  //overflow-y: hidden;
  &.expanded {
    max-height: 530px;
    height: calc(85vh - var(--composer-height, 0px));
    .tc-live-pane,
    .tc-chat-listing {
      max-height: calc(530px - #{$header-height});
      height: calc(85vh - var(--composer-height, 0px) - #{$header-height});
    }
  }
}
.topic-chat-drawer-header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--primary, $primary);
  padding: 0.25em;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    height: 100%;
  }
  .tc-title-seg {
    padding: 0 0.25em;
    line-height: 1.75em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .tc-unread-count {
    color: var(--secondary, $secondary);
    background-color: var(--danger, $danger);
    border-radius: 1.4em;
    min-width: 1.4em;
    min-height: 1.4em;
    display: inline-block;
    text-align: center;
  }
  .tc-expand {
    flex-grow: 1;
    text-align: right;
  }
  .d-icon {
    color: var(--tertiary, $tertiary);
    align-self: center;
    height: 1.1em;
  }
}

.tc-messages-container {
  word-wrap: break-word;
  white-space: normal;

  .tc-message {
    position: relative;
    margin-top: 4px;
    &.tc-action {
      background-color: var(--highlight-medium);
    }
    &.deleted {
      background-color: var(--danger-medium);
    }
    .tc-text {
      margin: 0;
    }
    .tc-reply-display {
      display: inline-block;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      width: 94%;
      font-size: 0.8em;
      line-height: 0.8em;
      margin-bottom: -0.5em;
    }
  }
  .tc-action-text {
    font-style: italic;
  }
  .tc-msgactions-hover {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: 4px;
    // Give a larger hover box
    margin-top: -1em;
    padding-top: 1em;
    button {
      padding: 0.5em 10px;
    }
  }
  .tc-message:hover,
  .tc-message:focus-within {
    .tc-msgactions-hover {
      opacity: 1;
      pointer-events: initial;
    }
  }
  .tc-msgactions {
    border: 1px solid var(--secondary-high);
    border-radius: 2px;
    background-color: var(--secondary);
  }
  .tc-meta-data {
    color: var(--secondary-medium);
    .names {
      color: var(--secondary-low);
      display: inline-block;
      vertical-align: bottom;
      margin-left: 4px;
      margin-right: 4px;
      &.first {
        font-weight: bold;
      }
    }
  }

.tc-live-pane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .tc-messages-scroll {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 2px;
    margin-left: 4px;
  }
  .scroll-stick-wrap {
    position: relative;
  }
  .scroll-stick-wrap2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .scroll-stick-warning {
    color: var(--primary-very-low, $primary-very-low);
    background: var(--secondary-low, $secondary-low);
    padding: 0.5em;
    border-radius: 4px;
    opacity: 75%;
  }
  .tc-composer {
    min-height: 1.5em;
    flex-shrink: 0;
    .tc-composer-row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
    textarea {
      flex-grow: 1;
      margin-bottom: 0;
      border: 0;
    }
    .tc-composer-replypreview {
      display: flex;
      flex-direction: row;
      padding-left: 4px;
      height: 1.6em;

      .width-limited {
        display: inline-block;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        flex-grow: 1;
      }
    }
    .tc-cancel-reply {
      align-self: flex-end;
      padding: 4px;
      margin-right: 2em;
    }
    margin-bottom: 2px;
    border: solid var(--primary-medium, $primary-medium);
    border-width: 1px 0;
  }
}
:root.mobile-view {
  .tc-composer {
    min-height: 2.5em;
    line-height: 1.4em;
    textarea {
      padding: 4px;
    }
    button {
      width: 36px;
    }
  }
}

.tc-composer-replypreview,
.tc-reply-display {
  color: var(--secondary-medium);
  .tc-reply-av {
    margin-left: 2px;
  }
  .tc-reply-username {
    font-weight: bold;
  }
  .tc-reply-msg {
    text-overflow: ellipsis;
  }
}

.tc-history {
  background-color: var(--primary-low, $primary-low);
  border: 1px solid var(--primary-high, $primary-high);
  padding: 4px;
  text-align: left;
}

.post-controls .show-chat.btn-flat span {
  padding-left: 0.45em;
}
