{{^cooked}}
<aside class="onebox chat-onebox">
  <article class="onebox-body chat-onebox-body">
    <h3>
      <a href="{{url}}">
        {{#is_category}}
          <span class="category-chat-badge" style="color: #{{color}}">
            <svg class="fa d-icon d-icon-hashtag svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#hashtag"></use></svg>
          </span>
        {{/is_category}}
        {{#is_topic}}
          <span class="topic-chat-icon">
            <svg class="fa d-icon d-icon-far-comments svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#far-comments"></use></svg>
          </span>
        {{/is_topic}}
        <span class="clear-badge">{{{channel_name}}}</span>
      </a>
    </h3>
  </article>
  <div class="clearfix"></div>
</aside>
{{/cooked}}

{{#cooked}}
<div class="discourse-chat-transcript" data-message-id="{{message_id}}" data-username="{{username}}" data-datetime="{{created_at}}" data-channel-name="{{channel_name}}" data-channel-id="{{channel_id}}">
  <div class="chat-transcript-user">
    <div class="chat-transcript-user-avatar">
      <img loading="lazy" alt="" width="20" height="20" src="{{avatar_url}}" class="avatar" style="aspect-ratio: 20 / 20;">
    </div>
  <div class="chat-transcript-username">{{username}}</div>
    <div class="chat-transcript-datetime">
      <a href="{{message_url}}" title="{{created_at}}">{{created_at}}</a>
    </div>
    <a class="chat-transcript-channel" href="/chat/chat_channels/{{channel_id}}">
      {{#is_category}}
        <span class="category-chat-badge" style="color: #{{color}}">
          <svg class="fa d-icon d-icon-hashtag svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#hashtag"></use></svg>
        </span>
      {{/is_category}}
      {{#is_topic}}
        <span class="topic-chat-icon">
          <svg class="fa d-icon d-icon-far-comments svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#far-comments"></use></svg>
        </span>
      {{/is_topic}}
      {{channel_name}}
    </a>
  </div>
  <div class="chat-transcript-messages">{{{cooked}}}</div>
</div>
{{/cooked}}
